{% extends 'base.html.twig' %}

{% block title %}EHPAD{% endblock %}

{% block body %}
    <div class="row realisation-page">
        <div class="col-12 realisation-img">
            <p class="page-title">EHPAD</p>
            <div class="col-4 img">
                <a href="{{ path('caritas') }}">
                    <div class="img-overlay"></div>
                    <img src="{{ asset('build/ehpad.png') }}"/>
                </a>
                <div class="img-content">
                    <p><strong>Maison Caritas</strong></p>
                </div>
            </div>
            <div class="col-4 img">
                <a href="{{ path('caritas') }}">
                    <div class="img-overlay"></div>
                    <img src="{{ asset('build/ehpad2.png') }}"/>
                </a>
                <div class="img-content">
                    <p><strong>Maison Caritas</strong></p>
                </div>
            </div>
            <div class="col-4 img">
                <a href="{{ path('caritas') }}">
                    <div class="img-overlay"></div>
                    <img src="{{ asset('build/ehpad3.png') }}"/>
                </a>
                <div class="img-content">
                    <p><strong>Maison Caritas</strong></p>
                </div>
            </div>
            <div class="col-4 img">
                <a href="{{ path('caritas') }}">
                    <div class="img-overlay"></div>
                    <img src="{{ asset('build/ehpad4.png') }}"/>
                </a>
                <div class="img-content">
                    <p><strong>Maison Caritas</strong></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}