{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}
    <div class="row equipe-page">
        <div class="col-6">
            {{ equipe.contentHtml | raw }}
{#            <p class="page-title">Equipe</p>#}
{#            <p>L&rsquo;agence se compose de 6 personnalit&eacute;s. Chacune d&rsquo;entre elle participe &agrave; l&rsquo;&eacute;laboration du projet. Nos projets sont r&eacute;alis&eacute;s dans l&rsquo;&eacute;change et le partage. Cette collaboration enrichit notre conception architecturale.<br />Un projet prend naissance avec l&rsquo;association d&rsquo;un besoin et d&rsquo;un concept. Cette id&eacute;e directrice s&rsquo;enrichit, &eacute;volue et cro&icirc;t dans le dialogue.<br />Nos projets sont le fruit du lien tiss&eacute; entre le ma&icirc;tre d&rsquo;ouvrage, un programme, et une synth&egrave;se rigoureuse des aspects programmatiques, sociaux, techniques et financiers.</p>#}
{#            <p class="page-title">Comp&eacute;tences</p>#}
{#            <p>Nos exp&eacute;riences professionnelles, ainsi que nos cursus individuels, nous permettent de disposer de comp&eacute;tences dans de nombreux domaines.<br />Nous int&egrave;grons d&egrave;s l&rsquo;esquisse la qualit&eacute; environnementale dans notre d&eacute;marche de conception. Nous intervenons dans la r&eacute;alisation de dossier technique de consultation. Nous assistons la ma&icirc;trise d&rsquo;ouvrage dans le choix des entreprises pour &eacute;tablir les march&eacute;s de travaux. Nous r&eacute;alisons, et assurons le suivi et la coordination des chantiers.</p>#}
        </div>
        <div class="col-6 equipe-img">
            <div class="img" data-cv="1">
                <div class="img-overlay"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe1File') }}"/>
                <div class="img-content">
                    <p><strong>{{ equipe.equipe1Name }}</strong></p>
                    <p>{{ equipe.equipe1Role }}</p>
                    {% if equipe.equipe1Role2 %}
                        <p>{{ equipe.equipe1Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img" data-cv="2">
                <div class="img-overlay"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe2File') }}"/>
                <div class="img-content">
                    <p><strong>{{ equipe.equipe2Name }}</strong></p>
                    <p>{{ equipe.equipe2Role }}</p>
                    {% if equipe.equipe2Role2 %}
                        <p>{{ equipe.equipe2Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img" data-cv="3">
                <div class="img-overlay"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe3File') }}"/>
                <div class="img-content">
                    <p><strong>{{ equipe.equipe3Name }}</strong></p>
                    <p>{{ equipe.equipe3Role }}</p>
                    {% if equipe.equipe3Role2 %}
                        <p>{{ equipe.equipe3Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img" data-cv="4">
                <div class="img-overlay"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe4File') }}"/>
                <div class="img-content">
                    <p><strong>{{ equipe.equipe4Name }}</strong></p>
                    <p>{{ equipe.equipe4Role }}</p>
                    {% if equipe.equipe4Role2 %}
                        <p>{{ equipe.equipe4Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img" data-cv="5">
                <div class="img-overlay"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe5File') }}"/>
                <div class="img-content">
                    <p><strong>{{ equipe.equipe5Name }}</strong></p>
                    <p>{{ equipe.equipe5Role }}</p>
                    {% if equipe.equipe5Role2 %}
                        <p>{{ equipe.equipe5Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img"data-cv="6">
                <div class="img-overlay"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe6File') }}"/>
                <div class="img-content">
                    <p><strong>{{ equipe.equipe6Name }}</strong></p>
                    <p>{{ equipe.equipe6Role }}</p>
                    {% if equipe.equipe6Role2 %}
                        <p>{{ equipe.equipe6Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img"data-cv="7">
                <div class="img-overlay"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe7File') }}"/>
                <div class="img-content">
                    <p><strong>{{ equipe.equipe7Name }}</strong></p>
                    <p>{{ equipe.equipe7Role }}</p>
                    {% if equipe.equipe7Role2 %}
                        <p>{{ equipe.equipe7Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-8 cv-equipe cv-equipe-1">
                {{ equipe.equipe1Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-2">
                {{ equipe.equipe2Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-3">
                {{ equipe.equipe3Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-4">
                {{ equipe.equipe4Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-5">
                {{ equipe.equipe5Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-6">
                {{ equipe.equipe6Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-7">
                {{ equipe.equipe7Cv | raw }}
            </div>
        </div>
    </div>
    <script>
        $('.img').on('click', function(e) {
            $('.cv-equipe').css('display', 'none');
            cv = $(this).data('cv');
            $('.cv-equipe-' + cv).css('display', 'block');
        });

    </script>
{% endblock %}