{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}
    <div class="row equipe-page">
        <div class="d-xl-none d-lg-none mobile-header" style="background-image: url('{{ vich_uploader_asset(presentation, 'imageFile') }}')"></div>
        <div class="col-lg-6 col-12">
            {{ equipe.contentHtml | raw }}
            <br>
        </div>
        <div class="col-lg-6 col-12 equipe-img">
            <div class="img col-lg-4 col-12" data-cv="1">
                <div class="img-overlay d-none d-lg-block d-xl-block"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe1File') }}"/>
                <div class="img-content d-none d-lg-block d-xl-block">
                    <p><strong>{{ equipe.equipe1Name }}</strong></p>
                    <p>{{ equipe.equipe1Role }}</p>
                    {% if equipe.equipe1Role2 %}
                        <p>{{ equipe.equipe1Role2 }}</p>
                    {% endif %}
                </div>
                <div class="mobile-img-content d-lg-none d-xl-none">
                    <p><strong>{{ equipe.equipe1Name }}</strong></p>
                    <p>{{ equipe.equipe1Role }}</p>
                    {% if equipe.equipe1Role2 %}
                        <p>{{ equipe.equipe1Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img col-lg-4 col-12" data-cv="2">
                <div class="img-overlay d-none d-lg-block d-xl-block"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe2File') }}"/>
                <div class="img-content d-none d-lg-block d-xl-block">
                    <p><strong>{{ equipe.equipe2Name }}</strong></p>
                    <p>{{ equipe.equipe2Role }}</p>
                    {% if equipe.equipe2Role2 %}
                        <p>{{ equipe.equipe2Role2 }}</p>
                    {% endif %}
                </div>
                <div class="mobile-img-content d-lg-none d-xl-none">
                    <p><strong>{{ equipe.equipe2Name }}</strong></p>
                    <p>{{ equipe.equipe2Role }}</p>
                    {% if equipe.equipe2Role2 %}
                        <p>{{ equipe.equipe2Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img col-lg-4 col-12" data-cv="3">
                <div class="img-overlay d-none d-lg-block d-xl-block"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe3File') }}"/>
                <div class="img-content d-none d-lg-block d-xl-block">
                    <p><strong>{{ equipe.equipe3Name }}</strong></p>
                    <p>{{ equipe.equipe3Role }}</p>
                    {% if equipe.equipe3Role2 %}
                        <p>{{ equipe.equipe3Role2 }}</p>
                    {% endif %}
                </div>
                <div class="mobile-img-content d-lg-none d-xl-none">
                    <p><strong>{{ equipe.equipe3Name }}</strong></p>
                    <p>{{ equipe.equipe3Role }}</p>
                    {% if equipe.equipe3Role2 %}
                        <p>{{ equipe.equipe3Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img col-lg-4 col-12" data-cv="4">
                <div class="img-overlay d-none d-lg-block d-xl-block"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe4File') }}"/>
                <div class="img-content d-none d-lg-block d-xl-block">
                    <p><strong>{{ equipe.equipe4Name }}</strong></p>
                    <p>{{ equipe.equipe4Role }}</p>
                    {% if equipe.equipe4Role2 %}
                        <p>{{ equipe.equipe4Role2 }}</p>
                    {% endif %}
                </div>
                <div class="mobile-img-content d-lg-none d-xl-none">
                    <p><strong>{{ equipe.equipe4Name }}</strong></p>
                    <p>{{ equipe.equipe4Role }}</p>
                    {% if equipe.equipe4Role2 %}
                        <p>{{ equipe.equipe4Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img col-lg-4 col-12" data-cv="5">
                <div class="img-overlay d-none d-lg-block d-xl-block"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe5File') }}"/>
                <div class="img-content d-none d-lg-block d-xl-block">
                    <p><strong>{{ equipe.equipe5Name }}</strong></p>
                    <p>{{ equipe.equipe5Role }}</p>
                    {% if equipe.equipe5Role2 %}
                        <p>{{ equipe.equipe5Role2 }}</p>
                    {% endif %}
                </div>
                <div class="mobile-img-content d-lg-none d-xl-none">
                    <p><strong>{{ equipe.equipe5Name }}</strong></p>
                    <p>{{ equipe.equipe5Role }}</p>
                    {% if equipe.equipe5Role2 %}
                        <p>{{ equipe.equipe5Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img col-lg-4 col-12" data-cv="6">
                <div class="img-overlay d-none d-lg-block d-xl-block"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe6File') }}"/>
                <div class="img-content d-none d-lg-block d-xl-block">
                    <p><strong>{{ equipe.equipe6Name }}</strong></p>
                    <p>{{ equipe.equipe6Role }}</p>
                    {% if equipe.equipe6Role2 %}
                        <p>{{ equipe.equipe6Role2 }}</p>
                    {% endif %}
                </div>
                <div class="mobile-img-content d-lg-none d-xl-none">
                    <p><strong>{{ equipe.equipe6Name }}</strong></p>
                    <p>{{ equipe.equipe6Role }}</p>
                    {% if equipe.equipe6Role2 %}
                        <p>{{ equipe.equipe6Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="img col-lg-4 col-12"data-cv="7">
                <div class="img-overlay d-none d-lg-block d-xl-block"></div>
                <img src="{{ vich_uploader_asset(equipe, 'equipe7File') }}"/>
                <div class="img-content d-none d-lg-block d-xl-block">
                    <p><strong>{{ equipe.equipe7Name }}</strong></p>
                    <p>{{ equipe.equipe7Role }}</p>
                    {% if equipe.equipe7Role2 %}
                        <p>{{ equipe.equipe7Role2 }}</p>
                    {% endif %}
                </div>
                <div class="mobile-img-content d-lg-none d-xl-none">
                    <p><strong>{{ equipe.equipe7Name }}</strong></p>
                    <p>{{ equipe.equipe7Role }}</p>
                    {% if equipe.equipe7Role2 %}
                        <p>{{ equipe.equipe7Role2 }}</p>
                    {% endif %}
                </div>
            </div>
            {% if equipe.equipe8Name %}
                <div class="img col-lg-4 col-12"data-cv="8">
                    <div class="img-overlay d-none d-lg-block d-xl-block"></div>
                    <img src="{{ vich_uploader_asset(equipe, 'equipe8File') }}"/>
                    <div class="img-content d-none d-lg-block d-xl-block">
                        <p><strong>{{ equipe.equipe8Name }}</strong></p>
                        <p>{{ equipe.equipe8Role }}</p>
                        {% if equipe.equipe8Role2 %}
                            <p>{{ equipe.equipe8Role2 }}</p>
                        {% endif %}
                    </div>
                    <div class="mobile-img-content d-lg-none d-xl-none">
                        <p><strong>{{ equipe.equipe8Name }}</strong></p>
                        <p>{{ equipe.equipe8Role }}</p>
                        {% if equipe.equipe8Role2 %}
                            <p>{{ equipe.equipe8Role2 }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if equipe.equipe9Name %}
                <div class="img col-lg-4 col-12"data-cv="9">
                    <div class="img-overlay d-none d-lg-block d-xl-block"></div>
                    <img src="{{ vich_uploader_asset(equipe, 'equipe9File') }}"/>
                    <div class="img-content d-none d-lg-block d-xl-block">
                        <p><strong>{{ equipe.equipe9Name }}</strong></p>
                        <p>{{ equipe.equipe9Role }}</p>
                        {% if equipe.equipe9Role2 %}
                            <p>{{ equipe.equipe9Role2 }}</p>
                        {% endif %}
                    </div>
                    <div class="mobile-img-content d-lg-none d-xl-none">
                        <p><strong>{{ equipe.equipe9Name }}</strong></p>
                        <p>{{ equipe.equipe9Role }}</p>
                        {% if equipe.equipe9Role2 %}
                            <p>{{ equipe.equipe9Role2 }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if equipe.equipe10Name %}
                <div class="img col-lg-4 col-12"data-cv="10">
                    <div class="img-overlay d-none d-lg-block d-xl-block"></div>
                    <img src="{{ vich_uploader_asset(equipe, 'equipe10File') }}"/>
                    <div class="img-content d-none d-lg-block d-xl-block">
                        <p><strong>{{ equipe.equipe10Name }}</strong></p>
                        <p>{{ equipe.equipe10Role }}</p>
                        {% if equipe.equipe10Role2 %}
                            <p>{{ equipe.equipe10Role2 }}</p>
                        {% endif %}
                    </div>
                    <div class="mobile-img-content d-lg-none d-xl-none">
                        <p><strong>{{ equipe.equipe10Name }}</strong></p>
                        <p>{{ equipe.equipe10Role }}</p>
                        {% if equipe.equipe10Role2 %}
                            <p>{{ equipe.equipe10Role2 }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="col-8 cv-equipe cv-equipe-1">
                {{ equipe.equipe1Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-2">
                {{ equipe.equipe2Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-3">
                {{ equipe.equipe3Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-4">
                {{ equipe.equipe4Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-5">
                {{ equipe.equipe5Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-6">
                {{ equipe.equipe6Cv | raw }}
            </div>
            <div class="col-8 cv-equipe cv-equipe-7">
                {{ equipe.equipe7Cv | raw }}
            </div>
            {% if equipe.equipe8Cv %}
                <div class="col-8 cv-equipe cv-equipe-8">
                    {{ equipe.equipe8Cv | raw }}
                </div>
            {% endif %}
            {% if equipe.equipe9Cv %}
                <div class="col-8 cv-equipe cv-equipe-9">
                    {{ equipe.equipe9Cv | raw }}
                </div>
            {% endif %}
            {% if equipe.equipe10Cv %}
                <div class="col-8 cv-equipe cv-equipe-10">
                    {{ equipe.equipe10Cv | raw }}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $('.img').on('click', function(e) {
            $('.cv-equipe').css('display', 'none');
            cv = $(this).data('cv');
            $('.cv-equipe-' + cv).css('display', 'block');
        });

    </script>
{% endblock %}