{% extends 'base.html.twig' %}

{% block title %}{{ real.title }}{% endblock %}

{% block body %}
    <div class="row real-page">
        <div class="col-12 d-none d-xl-block d-lg-block">
            <p><a href="{{ path('equipements') }}" class="page-title">Equipements</a> > <span class="real-breadcrumb">{{ real.title }}</span></p>
        </div>
        <div class="d-xl-none col-12 d-lg-none realisation-mobile">
            <div class="col-12">
                {% if real.thumbnail %}
                    <img src="{{ vich_uploader_asset(real, 'thumbnailFile') }}"/>
                {% endif %}
            </div>
            <div class="col-12">
                <p class="page-title">Equipement {{ real.title }}</p>
            </div>
            <div class="col-12">
                {{ real.contentBottomHtml | raw }}
            </div>
           <div class="col-12">
                <div class="owl-carousel owl-real">
                    <img src="{{ vich_uploader_asset(real, 'image1File') }}"/>
                    {% if real.image2 %}
                        <img src="{{ vich_uploader_asset(real, 'image2File') }}"/>
                    {% endif %}
                    {% if real.image3 %}
                        <img src="{{ vich_uploader_asset(real, 'image3File') }}"/>
                    {% endif %}
                    {% if real.image4 %}
                        <img src="{{ vich_uploader_asset(real, 'image4File') }}"/>
                    {% endif %}
                    {% if real.image5 %}
                        <img src="{{ vich_uploader_asset(real, 'image5File') }}"/>
                    {% endif %}
                    {% if real.image6 %}
                        <img src="{{ vich_uploader_asset(real, 'image6File') }}"/>
                    {% endif %}
                </div>
            </div>
             <div class="col-12">
                {{ real.contentRightHtml | raw }}
            </div>
        </div>
        <div class="col-12 col-lg-8 col-md-12 col-sm-12 d-none d-xl-block d-lg-block">
            <div class="owl-carousel owl-real">
                <img src="{{ vich_uploader_asset(real, 'image1File') }}"/>
                {% if real.image2 %}
                    <img src="{{ vich_uploader_asset(real, 'image2File') }}"/>
                {% endif %}
                {% if real.image3 %}
                    <img src="{{ vich_uploader_asset(real, 'image3File') }}"/>
                {% endif %}
                {% if real.image4 %}
                    <img src="{{ vich_uploader_asset(real, 'image4File') }}"/>
                {% endif %}
                {% if real.image5 %}
                    <img src="{{ vich_uploader_asset(real, 'image5File') }}"/>
                {% endif %}
                {% if real.image6 %}
                    <img src="{{ vich_uploader_asset(real, 'image6File') }}"/>
                {% endif %}
            </div>
            <script>
                $(document).ready(function(){
                    $(".owl-real").owlCarousel({
                        loop:true,
                        autoHeight: true,
                        autoplay: false,
                        items: 1,
                        nav: true,
                    });
                });
            </script>
        </div>
        <div class="col-12 col-lg-4 col-md-12 col-sm-12 d-none d-xl-block d-lg-block">
            {{ real.contentRightHtml | raw }}
        </div>

        <div class="col-12 col-lg-8 col-md-12 col-sm-12 bottom d-none d-xl-block d-lg-block">
            {{ real.contentBottomHtml | raw }}
        </div>

        <div class="col-12 col-lg-4 col-md-12 col-sm-12 fiche">
            <p><a href="{{ vich_uploader_asset(real, 'projectFileFile') }}" download><img src="{{ asset('build/pdf.png') }}"/>  T&eacute;l&eacute;chargez la fiche projet</a></p>
        </div>

        {{ render(controller('App\\Controller\\PageController::equipementCarrouselPage', {current: real.id})) }}
    </div>
{% endblock %}
