{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}
    <div class="row equipe-page">
        <div class="col-6">
            <p class="page-title">Equipe</p>
            <p>L&rsquo;agence se compose de 6 personnalit&eacute;s. Chacune d&rsquo;entre elle participe &agrave; l&rsquo;&eacute;laboration du projet. Nos projets sont r&eacute;alis&eacute;s dans l&rsquo;&eacute;change et le partage. Cette collaboration enrichit notre conception architecturale.<br />Un projet prend naissance avec l&rsquo;association d&rsquo;un besoin et d&rsquo;un concept. Cette id&eacute;e directrice s&rsquo;enrichit, &eacute;volue et cro&icirc;t dans le dialogue.<br />Nos projets sont le fruit du lien tiss&eacute; entre le ma&icirc;tre d&rsquo;ouvrage, un programme, et une synth&egrave;se rigoureuse des aspects programmatiques, sociaux, techniques et financiers.</p>
            <p class="page-title">Comp&eacute;tences</p>
            <p>Nos exp&eacute;riences professionnelles, ainsi que nos cursus individuels, nous permettent de disposer de comp&eacute;tences dans de nombreux domaines.<br />Nous int&egrave;grons d&egrave;s l&rsquo;esquisse la qualit&eacute; environnementale dans notre d&eacute;marche de conception. Nous intervenons dans la r&eacute;alisation de dossier technique de consultation. Nous assistons la ma&icirc;trise d&rsquo;ouvrage dans le choix des entreprises pour &eacute;tablir les march&eacute;s de travaux. Nous r&eacute;alisons, et assurons le suivi et la coordination des chantiers.</p>
        </div>
        <div class="col-6 equipe-img">
            <div class="img" data-cv="1">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe1.png') }}" />
                <div class="img-content">
                    <p><strong>Bernard Trève</strong></p>
                    <p>Président</p>
                    <p>Architecte associé</p>
                </div>
            </div>
            <div class="img" data-cv="2">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe2.png') }}" />
                <div class="img-content">
                    <p><strong>Christophe Chomel</strong></p>
                    <p>Architecte associé</p>
                    <p>Responsable chantier</p>
                </div>
            </div>
            <div class="img" data-cv="3">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe3.png') }}" />
                <div class="img-content">
                    <p><strong>Quitrie de Raigniac</strong></p>
                    <p>Architecte associé</p>
                    <p>Responsable Communication</p>
                </div>
            </div>
            <div class="img" data-cv="4">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe4.png') }}" />
                <div class="img-content">
                    <p><strong>Alban Goguet</strong></p>
                    <p>Architecte associé</p>
                    <p>Responsable Informatique</p>
                </div>
            </div>
            <div class="img" data-cv="5">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe5.png') }}" />
                <div class="img-content">
                    <p><strong>Nicolas Fort</strong></p>
                    <p>Architecte DPLG</p>
                </div>
            </div>
            <div class="img"data-cv="6">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe6.png') }}" />
                <div class="img-content">
                    <p><strong>Valérie Bonnet</strong></p>
                    <p>Assistante de Direction</p>
                </div>
            </div>
            <div class="col-8 cv-equipe cv-equipe-1">
                <p><em>N&eacute; le 13 septembre 1949</em></p>
                <p><strong>Dipl&ocirc;mes</strong></p>
                <p style="text-align: left;">1974 - Architecte DPLG ENSA Lyon<br />1974 - Capacit&eacute; d'&eacute;clairagisme CNAM Lyon<br /><br /><strong>Parcours professionnel</strong></p>
                <p style="text-align: left;">1973 - 1975 Pierre Vurpas Architecte - Mission d'architecte - Lyon<br />1977 - 1997 Cr&eacute;ation de AC avec T. Binachon &amp; M. Courdouan<br />1997 - Cr&eacute;ation de AC Architectes SARL<br />2001 - 2012 Association avec Christophe Chomel<br />2012 - 2018 Cr&eacute;ation de AC Architecture avec C. Vigan &amp; C. Chomel</p>
                <p style="text-align: left;"><strong>Formations</strong></p>
                <p style="text-align: left;">2009 - Habilitation SPS Niveau 3<br />2013 - R&eacute;glementation thermique 2012 &amp; r&eacute;novation durable</p>
                <p style="text-align: left;"><strong>R&eacute;alisations</strong></p>
                <p style="text-align: left;">2008 - 2010 Ehpad Saint Fran&ccedil;ois d'Assise - EHD - Lyon<br />2011 - 2013 Ehpad Franciscaines - EHD - Lons le Saunier<br />2011 - 2012 Maison Saint Fran&ccedil;ois - ADSE - Saint Etienne<br />2012 - 2015 Ehpad Saint Joseph - EHD - Loriol sur Dr&ocirc;me<br />2013 - 2015 Foyer logement - Habitat Humanisme - Montpellier<br />2014 - 2016 Abbaye de la Rochette - Accueil &amp; Parloir - Congr&eacute;gation<br />Belmont Tramonet <br />2015 - 2017 Ehpad Notre Dame de la Providence - EHD<br />Varennes Vauzelles - Chantier en cours<br />2016 - 2017 Ehpad CARITAS - B&acirc;tir en humanit&eacute; - Lyon - Chantier en cours</p>
                <p style="text-align: left;"><strong>Autres activit&eacute;s</strong></p>
                <p style="text-align: left;">Membre de l'OPP - BTP<br />Membre du syndicat des architectes du Rh&ocirc;ne</p>

            </div>
            <div class="col-8 cv-equipe cv-equipe-2">
               <p><em>N&eacute; le 11 f&eacute;vrier 1971</em></p>
               <p><strong>Parcours professionnel</strong></p>
               <p>1991 - 1994 AC Architectes - Lyon<br />1994 - 1998 Atelier 9 - Architecte Lib&eacute;ral - Lyon<br />1998 - 2001 BBZ Architecture - Architecte Associ&eacute; - Tarare<br />2001 - 2012 AC Architectes - Architecte Associ&eacute; - Lyon<br />2012 - 2018 AC Architecture &amp; Ing&eacute;ni&eacute;rie - Architecte Associ&eacute; - Lyon</p>
               <p><strong>Formations</strong></p>
               <p>2002 - Haute Qualit&eacute; Environnementale - GEPA<br />2008 - Qualit&eacute; ISO 9001 - Certification AC Architectes<br />2011 - Management entreprise - -<br />2013 - R&eacute;glementation thermique 2012 &amp; r&eacute;novation durable</p>
               <p><strong>R&eacute;alisations</strong></p>
               <p>1995 - Biblioth&egrave;que Centre de formation - ADSE - Saint Chamond<br />2008 - 2010 Foyer AAPHTV - Opacit&eacute; du Rh&ocirc;ne - Eveux<br />2008 - 2010 Ehpad Saint Fran&ccedil;ois d'Assise - EHD - Lyon<br />2011 - 2013 Ehpad Franciscaines - EHD - Lons le Saunier<br />2012 - 2014 Immeuble ALP - EHD - Lyon<br />2013 - 2015 Foyer logement - Habitat Humanisme - Montpellier</p>
               <p><strong>Autres activit&eacute;s</strong></p>
               <p>2006 - 2007 Tr&eacute;sorier du syndicat des architectes du Rh&ocirc;ne<br />2007 - 2010 Repr&eacute;sentant UNSFA<br />2009 - 2010 Vice pr&eacute;sident de l'UNSFA<br />2013 - 2015 Pr&eacute;sident du syndicat des architectes du Rh&ocirc;ne</p>
            </div>
            <div class="col-8 cv-equipe cv-equipe-3">
                <p><em>N&eacute;e le 11 d&eacute;cembre 1974</em></p>
                <p><strong>Dipl&ocirc;mes</strong></p>
                <p>2001 - Architecte DPLG ENSA Marseille<br />2011 - 2012 Qualit&eacute; Environnementale Int&eacute;gr&eacute;e au B&acirc;ti en r&eacute;novation<br /><br /><strong>Parcours professionnel</strong></p>
                <p>2000 - 2002 Delta Ingenierie - Marseille<br />2002 - 2007 Henri Roussel Architecte - Marseille<br />2007 - 2008 Patrice Santoro Architecte - Lyon<br />2008 - 2012 AC Architectes - Lyon<br />2012 - 2018 AC Architecture &amp; Ing&eacute;ni&eacute;rie - Lyon</p>
                <p><strong>Formations</strong></p>
                <p>2009 - Accessibilit&eacute; pour Personnes &agrave; Mobilit&eacute; R&eacute;duite<br />2011 - Qualit&eacute; Environnementale Int&eacute;gr&eacute;e au B&acirc;ti en r&eacute;novation<br />2013 - Gestion de chantier - GEPA</p>
                <p><strong>R&eacute;alisations</strong></p>
                <p>2011 - 2012 Maison Saint Fran&ccedil;ois - ADSE - Saint Etienne<br />2012 - 2014 Accueil paroissial Saint Firmin - ADSE - Firminy<br />2013 - 2014 Maison Sainte Anne - ADSE - Roche la Moli&egrave;re<br />2014 - 2015 Coll&egrave;ge de Benaud - Cantine - ADSE - Firminy<br />2014 - 2016 Abbaye de la Rochette - Accueil &amp; Parloir - congr&eacute;gation<br />2016 - 2017 Ehpad Ma Demeure - Accueil, bureaux, oratoire - PAPVL<br />2016 - 2017 Ehpad CARITAS - B&acirc;tir en humanit&eacute; - Lyon - Chantier en cours.</p>
                <p><strong>Autres activit&eacute;s</strong></p>
                <p>Dessin<br />Peinture<br />D&eacute;coration</p>
            </div>
            <div class="col-8 cv-equipe cv-equipe-4">
                <p><em>N&eacute; le 21 octobre 1980</em></p>
                <p><strong>Dipl&ocirc;mes</strong></p>
                <p>2007 - Architecte DPLG ENSA Lyon<br />2011 - 2012 Architecture et Ing&eacute;nierie la Qualit&eacute; Environnementale <br />du B&acirc;ti et de l'Urbanisme - QEB<br /><br /><strong>Parcours professionnel</strong></p>
                <p>2002 - 2003 Bureau d'Architecture Contemporaine - Lyon<br />2003 - 2004 Atelier Renaud Bala&yuml; - Lyon<br />2004 - 2012 AC Architectes - Lyon<br />2012 - 2018 AC Architecture &amp; Ing&eacute;ni&eacute;rie - Lyon</p>
                <p><strong>Formations</strong></p>
                <p>2008 - Accessibilit&eacute; pour Personnes &agrave; Mobilit&eacute; R&eacute;duite<br />2011 - 2012 Architecture et Ing&eacute;nierie la Qualit&eacute; Environnementale <br />du B&acirc;ti et de l'Urbanisme - QEB<br />2013 - 2014 Construire en bois de A &agrave; Z<br />Centre National pour le Developpement du Bois</p>
                <p><strong>R&eacute;alisations</strong></p>
                <p>2008 - 2010 Immeuble l'Orangerie - Bouygues Immobilier - St Chamond<br />2011 - 2013 Ehpad Franciscaines - EHD - Lons le Saunier<br />2012 - 2014 Immeuble ALP - EHD - Lyon<br />2012 - 2015 Ehpad Saint Joseph - EHD - Loriol sur Dr&ocirc;me<br />2016 - 2017 Immeuble C&ocirc;t&eacute; Village - PERSPECTIM Immobilier<br />Echirolles - Chantier en cours<br />2015 - 2017 Ehpad Notre Dame de la Providence - EHD<br />Varennes Vauzelles - Chantier en cours</p>
                <p><strong>Autres activit&eacute;s</strong></p>
                <p>Histoire de l'architecture<br />Informatique<br />Maquettisme &amp; Mod&egrave;lisme</p>
            </div>
            <div class="col-8 cv-equipe cv-equipe-5">

            </div>
            <div class="col-8 cv-equipe cv-equipe-6">
                <p><em>N&eacute;e le 06 d&eacute;cembre 1972</em></p>
                <p><strong>Dipl&ocirc;mes</strong></p>
                <p>1993 - BTS Comptabilit&eacute; - Gestion<br />1994 - Dipl&ocirc;me Europ&eacute;en de Chambres de Commerce<br />1991 - Bac G2 Comptabilit&eacute;-Gestion<br /><br /><strong>Parcours professionnel</strong></p>
                <p>1995 - 1997 Secr&eacute;taire-comptable - Espace &amp; Cie construction de d&eacute;cors<br />1998 - Aide comptable - Cabinet Mahamid<br />1999 - 2013 Secr&eacute;taire-comptable - Cabinet Chassagneux Architecte.<br />2013 - 2018 Assitante de direction - AC Architecture &amp; Ing&eacute;ni&eacute;rie</p>
                <p><strong>Formations</strong></p>
                <p>2000 - Comptabilit&eacute;<br />2001 - Gestion</p>
                <p><strong>Autres activit&eacute;s</strong></p>
                <p>Musique<br />Nautisme</p>
            </div>
        </div>
    </div>
    <script>
        $('.img').on('click', function(e) {
            $('.cv-equipe').css('display', 'none');
            cv = $(this).data('cv');
            $('.cv-equipe-' + cv).css('display', 'block');
        });

    </script>
{% endblock %}