{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}
    <div class="row equipe-page">
        <div class="col-6">
            <p class="page-title">Equipe</p>
            <p>L&rsquo;agence se compose de 6 personnalit&eacute;s. Chacune d&rsquo;entre elle participe &agrave; l&rsquo;&eacute;laboration du projet. Nos projets sont r&eacute;alis&eacute;s dans l&rsquo;&eacute;change et le partage. Cette collaboration enrichit notre conception architecturale.<br />Un projet prend naissance avec l&rsquo;association d&rsquo;un besoin et d&rsquo;un concept. Cette id&eacute;e directrice s&rsquo;enrichit, &eacute;volue et cro&icirc;t dans le dialogue.<br />Nos projets sont le fruit du lien tiss&eacute; entre le ma&icirc;tre d&rsquo;ouvrage, un programme, et une synth&egrave;se rigoureuse des aspects programmatiques, sociaux, techniques et financiers.</p>
            <p class="page-title">Comp&eacute;tences</p>
            <p>Nos exp&eacute;riences professionnelles, ainsi que nos cursus individuels, nous permettent de disposer de comp&eacute;tences dans de nombreux domaines.<br />Nous int&egrave;grons d&egrave;s l&rsquo;esquisse la qualit&eacute; environnementale dans notre d&eacute;marche de conception. Nous intervenons dans la r&eacute;alisation de dossier technique de consultation. Nous assistons la ma&icirc;trise d&rsquo;ouvrage dans le choix des entreprises pour &eacute;tablir les march&eacute;s de travaux. Nous r&eacute;alisons, et assurons le suivi et la coordination des chantiers.</p>
        </div>
        <div class="col-6 equipe-img">
            <div class="img">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe1.png') }}" />
                <div class="img-content">
                    <p><strong>Bernard Trève</strong></p>
                    <p>Président</p>
                </div>
            </div>
            <div class="img">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe2.png') }}" />
                <div class="img-content">
                    <p><strong>Christophe Chomel</strong></p>
                    <p>Responsable chantier</p>
                </div>
            </div>
            <div class="img">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe3.png') }}" />
                <div class="img-content">
                    <p><strong>Quitrie de Raigniac</strong></p>
                    <p>Responsable Communication</p>
                </div>
            </div>
            <div class="img">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe4.png') }}" />
                <div class="img-content">
                    <p><strong>Alban Goguet</strong></p>
                    <p>Responsable Informatique</p>
                </div>
            </div>
            <div class="img">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe5.png') }}" />
                <div class="img-content">
                    <p><strong>Nicolas Fort</strong></p>
                    <p>Architecte DPLG</p>
                </div>
            </div>
            <div class="img">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe6.png') }}" />
                <div class="img-content">
                    <p><strong>Valérie Bonnet</strong></p>
                    <p>Assistante de Direction</p>
                </div>
            </div>
            <div class="col-8 cv-equipe">
                <p>Ordre des architectes n°073754</p>
                <p>Diplomé en Architecture et Ingénerie intégrant la qualité environnemental du bati et de l'urbanisme
                 - ENSAL 2011 DEA "Le projet architecturale et urbain, théories et dispositifs" - Ecole Nationale
                 Supérieure d'Architecture de Paris Belleville - 2001
                 Ecole Nationale Supérieure d'Architecture de Lyon - 2000</p>

                 <p>A l'agence depuis 2018</p>

            </div>
        </div>
    </div>
    <script>
        $('.img').on('mouseover', function(e) {
            $('.cv-equipe').css('display', 'block');
        });
        $('.img').on('mouseleave', function(e) {
            $('.cv-equipe').css('display', 'none');
        });

    </script>
{% endblock %}