{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}
    <div class="row equipe-page">
        <div class="col-6">
            <p class="page-title">Equipe</p>
            <p>L&rsquo;agence se compose de 6 personnalit&eacute;s. Chacune d&rsquo;entre elle participe &agrave; l&rsquo;&eacute;laboration du projet. Nos projets sont r&eacute;alis&eacute;s dans l&rsquo;&eacute;change et le partage. Cette collaboration enrichit notre conception architecturale.<br />Un projet prend naissance avec l&rsquo;association d&rsquo;un besoin et d&rsquo;un concept. Cette id&eacute;e directrice s&rsquo;enrichit, &eacute;volue et cro&icirc;t dans le dialogue.<br />Nos projets sont le fruit du lien tiss&eacute; entre le ma&icirc;tre d&rsquo;ouvrage, un programme, et une synth&egrave;se rigoureuse des aspects programmatiques, sociaux, techniques et financiers.</p>
            <p class="page-title">Comp&eacute;tences</p>
            <p>Nos exp&eacute;riences professionnelles, ainsi que nos cursus individuels, nous permettent de disposer de comp&eacute;tences dans de nombreux domaines.<br />Nous int&egrave;grons d&egrave;s l&rsquo;esquisse la qualit&eacute; environnementale dans notre d&eacute;marche de conception. Nous intervenons dans la r&eacute;alisation de dossier technique de consultation. Nous assistons la ma&icirc;trise d&rsquo;ouvrage dans le choix des entreprises pour &eacute;tablir les march&eacute;s de travaux. Nous r&eacute;alisons, et assurons le suivi et la coordination des chantiers.</p>
        </div>
        <div class="col-6 equipe-img">
            <div class="img" data-cv="1">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe1.png') }}" />
                <div class="img-content">
                    <p><strong>Bernard Trève</strong></p>
                    <p>Président</p>
                    <p>Architecte associé</p>
                </div>
            </div>
            <div class="img" data-cv="2">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe2.png') }}" />
                <div class="img-content">
                    <p><strong>Christophe Chomel</strong></p>
                    <p>Architecte associé</p>
                    <p>Responsable chantier</p>
                </div>
            </div>
            <div class="img" data-cv="3">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe3.png') }}" />
                <div class="img-content">
                    <p><strong>Quitrie de Raigniac</strong></p>
                    <p>Architecte associé</p>
                    <p>Responsable Communication</p>
                </div>
            </div>
            <div class="img" data-cv="4">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe4.png') }}" />
                <div class="img-content">
                    <p><strong>Alban Goguet</strong></p>
                    <p>Architecte associé</p>
                    <p>Responsable Informatique</p>
                </div>
            </div>
            <div class="img" data-cv="5">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe5.png') }}" />
                <div class="img-content">
                    <p><strong>Nicolas Fort</strong></p>
                    <p>Architecte DPLG</p>
                </div>
            </div>
            <div class="img"data-cv="6">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe6.png') }}" />
                <div class="img-content">
                    <p><strong>Valérie Bonnet</strong></p>
                    <p>Assistante de Direction</p>
                </div>
            </div>
            <div class="img"data-cv="7">
                <div class="img-overlay"></div>
                <img src="{{ asset('build/equipe7.png') }}" />
                <div class="img-content">
                    <p><strong>Solène Houdeau</strong></p>
                    <p>Architecte diplômée</p>
                </div>
            </div>
            <div class="col-8 cv-equipe cv-equipe-1">
                <p><em>N&eacute; le 13 septembre 1949</em></p>
                <p><strong>Dipl&ocirc;mes</strong></p>
                <p style="text-align: left;">1974 - Architecte DPLG ENSA Lyon<br />1974 - Capacit&eacute; d'&eacute;clairagisme CNAM Lyon<br /><br /><strong>Parcours professionnel</strong></p>
                <p style="text-align: left;">1973 - 1975 Pierre Vurpas Architecte - Mission d'architecte - Lyon<br />1977 - 1997 Cr&eacute;ation de AC avec T. Binachon &amp; M. Courdouan<br />1997 - Cr&eacute;ation de AC Architectes SARL<br />2001 - 2012 Association avec Christophe Chomel<br />2012 - 2018 Cr&eacute;ation de AC Architecture avec C. Vigan &amp; C. Chomel</p>
                <p style="text-align: left;"><strong>Formations</strong></p>
                <p style="text-align: left;">2009 - Habilitation SPS Niveau 3<br />2013 - R&eacute;glementation thermique 2012 &amp; r&eacute;novation durable</p>
                <p style="text-align: left;"><strong>R&eacute;alisations</strong></p>
                <p style="text-align: left;">2008 - 2010 Ehpad Saint Fran&ccedil;ois d'Assise - EHD - Lyon<br />2011 - 2013 Ehpad Franciscaines - EHD - Lons le Saunier<br />2011 - 2012 Maison Saint Fran&ccedil;ois - ADSE - Saint Etienne<br />2012 - 2015 Ehpad Saint Joseph - EHD - Loriol sur Dr&ocirc;me<br />2013 - 2015 Foyer logement - Habitat Humanisme - Montpellier<br />2014 - 2016 Abbaye de la Rochette - Accueil &amp; Parloir - Congr&eacute;gation<br />Belmont Tramonet <br />2015 - 2017 Ehpad Notre Dame de la Providence - EHD<br />Varennes Vauzelles - Chantier en cours<br />2016 - 2017 Ehpad CARITAS - B&acirc;tir en humanit&eacute; - Lyon - Chantier en cours</p>
                <p style="text-align: left;"><strong>Autres activit&eacute;s</strong></p>
                <p style="text-align: left;">Membre de l'OPP - BTP<br />Membre du syndicat des architectes du Rh&ocirc;ne</p>

            </div>
            <div class="col-8 cv-equipe cv-equipe-2">
               <p><em>N&eacute; le 11 f&eacute;vrier 1971</em></p>
               <p><strong>Parcours professionnel</strong></p>
               <p>1991 - 1994 AC Architectes - Lyon<br />1994 - 1998 Atelier 9 - Architecte Lib&eacute;ral - Lyon<br />1998 - 2001 BBZ Architecture - Architecte Associ&eacute; - Tarare<br />2001 - 2012 AC Architectes - Architecte Associ&eacute; - Lyon<br />2012 - 2018 AC Architecture &amp; Ing&eacute;ni&eacute;rie - Architecte Associ&eacute; - Lyon</p>
               <p><strong>Formations</strong></p>
               <p>2002 - Haute Qualit&eacute; Environnementale - GEPA<br />2008 - Qualit&eacute; ISO 9001 - Certification AC Architectes<br />2011 - Management entreprise - -<br />2013 - R&eacute;glementation thermique 2012 &amp; r&eacute;novation durable</p>
               <p><strong>R&eacute;alisations</strong></p>
               <p>1995 - Biblioth&egrave;que Centre de formation - ADSE - Saint Chamond<br />2008 - 2010 Foyer AAPHTV - Opacit&eacute; du Rh&ocirc;ne - Eveux<br />2008 - 2010 Ehpad Saint Fran&ccedil;ois d'Assise - EHD - Lyon<br />2011 - 2013 Ehpad Franciscaines - EHD - Lons le Saunier<br />2012 - 2014 Immeuble ALP - EHD - Lyon<br />2013 - 2015 Foyer logement - Habitat Humanisme - Montpellier</p>
               <p><strong>Autres activit&eacute;s</strong></p>
               <p>2006 - 2007 Tr&eacute;sorier du syndicat des architectes du Rh&ocirc;ne<br />2007 - 2010 Repr&eacute;sentant UNSFA<br />2009 - 2010 Vice pr&eacute;sident de l'UNSFA<br />2013 - 2015 Pr&eacute;sident du syndicat des architectes du Rh&ocirc;ne</p>
            </div>
            <div class="col-8 cv-equipe cv-equipe-3">
                <p><em>N&eacute;e le 11 d&eacute;cembre 1974</em></p>
                <p><strong>Dipl&ocirc;mes</strong></p>
                <p>2001 - Architecte DPLG ENSA Marseille<br />2011 - 2012 Qualit&eacute; Environnementale Int&eacute;gr&eacute;e au B&acirc;ti en r&eacute;novation<br /><br /><strong>Parcours professionnel</strong></p>
                <p>2000 - 2002 Delta Ingenierie - Marseille<br />2002 - 2007 Henri Roussel Architecte - Marseille<br />2007 - 2008 Patrice Santoro Architecte - Lyon<br />2008 - 2012 AC Architectes - Lyon<br />2012 - 2018 AC Architecture &amp; Ing&eacute;ni&eacute;rie - Lyon</p>
                <p><strong>Formations</strong></p>
                <p>2009 - Accessibilit&eacute; pour Personnes &agrave; Mobilit&eacute; R&eacute;duite<br />2011 - Qualit&eacute; Environnementale Int&eacute;gr&eacute;e au B&acirc;ti en r&eacute;novation<br />2013 - Gestion de chantier - GEPA</p>
                <p><strong>R&eacute;alisations</strong></p>
                <p>2011 - 2012 Maison Saint Fran&ccedil;ois - ADSE - Saint Etienne<br />2012 - 2014 Accueil paroissial Saint Firmin - ADSE - Firminy<br />2013 - 2014 Maison Sainte Anne - ADSE - Roche la Moli&egrave;re<br />2014 - 2015 Coll&egrave;ge de Benaud - Cantine - ADSE - Firminy<br />2014 - 2016 Abbaye de la Rochette - Accueil &amp; Parloir - congr&eacute;gation<br />2016 - 2017 Ehpad Ma Demeure - Accueil, bureaux, oratoire - PAPVL<br />2016 - 2017 Ehpad CARITAS - B&acirc;tir en humanit&eacute; - Lyon - Chantier en cours.</p>
                <p><strong>Autres activit&eacute;s</strong></p>
                <p>Dessin<br />Peinture<br />D&eacute;coration</p>
            </div>
            <div class="col-8 cv-equipe cv-equipe-4">
                <p><em>N&eacute; le 21 octobre 1980</em></p>
                <p><strong>Dipl&ocirc;mes</strong></p>
                <p>2007 - Architecte DPLG ENSA Lyon<br />2011 - 2012 Architecture et Ing&eacute;nierie la Qualit&eacute; Environnementale <br />du B&acirc;ti et de l'Urbanisme - QEB<br /><br /><strong>Parcours professionnel</strong></p>
                <p>2002 - 2003 Bureau d'Architecture Contemporaine - Lyon<br />2003 - 2004 Atelier Renaud Bala&yuml; - Lyon<br />2004 - 2012 AC Architectes - Lyon<br />2012 - 2018 AC Architecture &amp; Ing&eacute;ni&eacute;rie - Lyon</p>
                <p><strong>Formations</strong></p>
                <p>2008 - Accessibilit&eacute; pour Personnes &agrave; Mobilit&eacute; R&eacute;duite<br />2011 - 2012 Architecture et Ing&eacute;nierie la Qualit&eacute; Environnementale <br />du B&acirc;ti et de l'Urbanisme - QEB<br />2013 - 2014 Construire en bois de A &agrave; Z<br />Centre National pour le Developpement du Bois</p>
                <p><strong>R&eacute;alisations</strong></p>
                <p>2008 - 2010 Immeuble l'Orangerie - Bouygues Immobilier - St Chamond<br />2011 - 2013 Ehpad Franciscaines - EHD - Lons le Saunier<br />2012 - 2014 Immeuble ALP - EHD - Lyon<br />2012 - 2015 Ehpad Saint Joseph - EHD - Loriol sur Dr&ocirc;me<br />2016 - 2017 Immeuble C&ocirc;t&eacute; Village - PERSPECTIM Immobilier<br />Echirolles - Chantier en cours<br />2015 - 2017 Ehpad Notre Dame de la Providence - EHD<br />Varennes Vauzelles - Chantier en cours</p>
                <p><strong>Autres activit&eacute;s</strong></p>
                <p>Histoire de l'architecture<br />Informatique<br />Maquettisme &amp; Mod&egrave;lisme</p>
            </div>
            <div class="col-8 cv-equipe cv-equipe-5">
                <p><em>N&eacute;&nbsp;le&nbsp;11&nbsp;juin&nbsp;1988&nbsp;</em></p>
                <p><strong>Dipl&ocirc;mes</strong></p>
                <p>2013 ‐ Architecte Diplom&eacute; d'Etat - Ecole Nationale Sup&eacute;rieure d'Architecture de Saint Etienne <br />2010 ‐ 2011 Erasmus &agrave; l'University of Technology and Economics - Budapest ‐ Hongrie <br />2007 ‐ Premier cycle d'architecture &agrave; l'ENSA Saint‐Etienne <br />2005 ‐ 2007 B.T Collaborateur d'architecte <br />Lyc&eacute;e professionnel du Nivolet &agrave; La Ravoire ‐ Savoie <br />2005 ‐ 2007 B.E.P Technique de l'architecture et de l'habitat Lyc&eacute;e professionnel du b&acirc;timent &agrave; Bron ‐ Rh&ocirc;ne</p>
                <p><strong>Fonction&nbsp;</strong></p>
                <p>Assistant&nbsp;de&nbsp;projet&nbsp;Niveau&nbsp;1<br />Dessinateur&nbsp;Niveau&nbsp;2&nbsp;</p>
                <p><strong>Parcours&nbsp;professionnel&nbsp;</strong></p>
                <p>2012&nbsp;‐&nbsp;Agence&nbsp;d'architecture&nbsp;‐&nbsp;SOHO&nbsp;‐&nbsp;Lyon&nbsp;‐&nbsp;Rh&ocirc;ne<br />2014&nbsp;‐&nbsp;2015 Architecte&nbsp;assistant&nbsp; <br />AMA&nbsp;Pracownia&nbsp;Architektoniczno‐Konstrukcyjna&nbsp;‐&nbsp;Pologne&nbsp; <br />2015&nbsp;‐&nbsp;Coordinateur&nbsp;de&nbsp;travaux&nbsp;de&nbsp;construction&nbsp; <br />Quadrapol&nbsp;‐&nbsp;Cracovie&nbsp;‐&nbsp;Pologne&nbsp; 2015&nbsp;‐&nbsp;2017&nbsp;Architecte&nbsp;assistant&nbsp;‐&nbsp;BDM'architekci&nbsp;‐&nbsp;Varsovie&nbsp;‐&nbsp;Pologne&nbsp;</p>
                <p><strong>Formations&nbsp;</strong></p>
                <p>2011&nbsp;‐&nbsp;Initiation&nbsp;‐&nbsp;Charpente&nbsp;‐&nbsp;SARL&nbsp;Ferr&eacute;ol&nbsp;‐&nbsp;Savigny&nbsp;‐&nbsp;Rh&ocirc;ne&nbsp;</p>
                <p><strong>R&eacute;alisations&nbsp;</strong></p>
                <p>2011&nbsp;‐ R&eacute;habilitation&nbsp;d'un&nbsp;corps&nbsp;de&nbsp;ferme&nbsp;‐&nbsp;Lentilly&nbsp;‐&nbsp;Rh&ocirc;ne&nbsp;</p>
                <p><strong>Autres&nbsp;activit&eacute;s&nbsp;</strong></p>
               <p>Travail&nbsp;du&nbsp;bois&nbsp;pour&nbsp;cr&eacute;ation&nbsp;de&nbsp;meuble.&nbsp;<br />V&eacute;lo&nbsp;<br />Natation<br />Course&nbsp;&agrave;&nbsp;pied&nbsp;</p>
            </div>
            <div class="col-8 cv-equipe cv-equipe-6">
                <p><em>N&eacute;e le 06 d&eacute;cembre 1972</em></p>
                <p><strong>Dipl&ocirc;mes</strong></p>
                <p>1993 - BTS Comptabilit&eacute; - Gestion<br />1994 - Dipl&ocirc;me Europ&eacute;en de Chambres de Commerce<br />1991 - Bac G2 Comptabilit&eacute;-Gestion<br /><br /><strong>Parcours professionnel</strong></p>
                <p>1995 - 1997 Secr&eacute;taire-comptable - Espace &amp; Cie construction de d&eacute;cors<br />1998 - Aide comptable - Cabinet Mahamid<br />1999 - 2013 Secr&eacute;taire-comptable - Cabinet Chassagneux Architecte.<br />2013 - 2018 Assitante de direction - AC Architecture &amp; Ing&eacute;ni&eacute;rie</p>
                <p><strong>Formations</strong></p>
                <p>2000 - Comptabilit&eacute;<br />2001 - Gestion</p>
                <p><strong>Autres activit&eacute;s</strong></p>
                <p>Musique<br />Nautisme</p>
            </div>
            <div class="col-8 cv-equipe cv-equipe-7">
                <p><em>N&eacute;e en 1993</em></p>
                <p><strong>Dipl&ocirc;mes</strong></p>
                <p>2017&ndash;Dipl&ocirc;m&eacute;e d&rsquo;un Bachelor et Master avec distinction &agrave; la facult&eacute; d&rsquo;architecture de l&rsquo;Universit&eacute; Libre de Bruxelles La Cambre-Horta, Belgique.<br />2009-2011 Dipl&ocirc;m&eacute;e d&rsquo;un DUT g&eacute;nie thermique et &eacute;nergie de l&rsquo;IUT-A au sein de l&rsquo;universit&eacute; Claude Bernard Lyon 1,France.</p>
                <p><strong>Parcours professionnel</strong></p>
                <p>2017-2019 Architecte stagiaire dans le bureau d&rsquo;architecture Bachelard Wagner &agrave; B&acirc;le, communication en langue Anglaise.<br />1er prix remport&eacute; d&rsquo;un master plan pour 57000m2 de logements et une &eacute;cole &agrave; Prattelnu.<br />2016 Stage 2 mois dans le bureau Ledroit Pierret Polet architectes &agrave; Bruxelles.<br />Esquisse d&rsquo;avant projet et maquette au 50&egrave;me d&rsquo;une maison d&rsquo;habitation &agrave; Louvain-la-Neuve<br />2014 Stage 1 mois ouvrier en construction ossature bois dans la soci&eacute;t&eacute; Roger Armenjon (Savoie, France) :<br />Manipulation et observation concr&egrave;te de la construction d&rsquo;une charpente sur maison ossature bois.<br />2011 Stage de 4 mois puis employ&eacute; 2 mois dans un bureau d&rsquo;&eacute;tude fluide, soci&eacute;t&eacute; GLM Etudes techniques &agrave; Lyon,<br />Calculs de d&eacute;perditions, trac&eacute;s et dimensionnements de r&eacute;seaux.2010 Stage dans un bureau d&rsquo;&eacute;tude thermique, soci&eacute;t&eacute; Eurextherme &agrave; Lyon, 1 mois.<br />Traitement de dossiers photovolta&iuml;ques, diagnostics de performances &eacute;nerg&eacute;tiques (DPE).</p>
                <p><strong>Formations</strong><br />2012&ndash;Erasmus (ma1) au Joint Master of Architecture &agrave; Fribourg, Suisse<br />2011-2012 1e ann&eacute;e de licence de physique en Angleterre &agrave; Leeds en correspondance avec l&rsquo;universit&eacute; Pierre et Marie<br />Curie de Paris.</p>
                <p><strong>Hobbies</strong></p>
                <p>S&eacute;rigraphie<br />Conception de vitraux<br />5 ans de cours d&rsquo;arts plastiquesNatation et plong&eacute;e sous-marine</p>
            </div>
        </div>
    </div>
    <script>
        $('.img').on('click', function(e) {
            $('.cv-equipe').css('display', 'none');
            cv = $(this).data('cv');
            $('.cv-equipe-' + cv).css('display', 'block');
        });

    </script>
{% endblock %}