{% extends 'base.html.twig' %}

{% block title %}Logements individuels{% endblock %}

{% block body %}
    <div class="row realisation-page">
        <div class="col-12 realisation-img">
            <p class="page-title">Logements individuels</p>
            <div class="col-4 img">
                <a href="{{ path('maison') }}">
                    <div class="img-overlay"></div>
                    <img src="{{ asset('build/individuel1.png') }}"/>
                </a>
                <div class="img-content">
                    <p><strong>Maison de ville</strong></p>
                </div>
            </div>
            <div class="col-4 img">
                <a href="{{ path('maison') }}">
                    <div class="img-overlay"></div>
                    <img src="{{ asset('build/individuel2.png') }}"/>
                </a>
                <div class="img-content">
                    <p><strong>Maison de ville</strong></p>
                </div>
            </div>
            <div class="col-4 img">
                <a href="{{ path('maison') }}">
                    <div class="img-overlay"></div>
                    <img src="{{ asset('build/individuel3.png') }}"/>
                </a>
                <div class="img-content">
                    <p><strong>Maison de ville</strong></p>
                </div>
            </div>
            <div class="col-4 img">
                <a href="{{ path('maison') }}">
                    <div class="img-overlay"></div>
                    <img src="{{ asset('build/individuel4.png') }}"/>
                </a>
                <div class="img-content">
                    <p><strong>Maison de ville</strong></p>
                </div>
            </div>
            <div class="col-4 img">
                <a href="{{ path('maison') }}">
                    <div class="img-overlay"></div>
                    <img src="{{ asset('build/individuel5.png') }}"/>
                </a>
                <div class="img-content">
                    <p><strong>Maison de ville</strong></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}