<div class="col-12">
    <p class="page-title">AUTRES RÉALISATIONS LOGEMENTS CULTUELS</p>
    <div class="owl-carousel owl-footer">
        <a href="{{ path('rochette') }}"><img src="{{ asset('build/cultuel1.png') }}"/></a>
        <a href="{{ path('rochette2') }}"><img src="{{ asset('build/cultuel2.png') }}"/></a>
        <a href="{{ path('rochette') }}"><img src="{{ asset('build/cultuel3.png') }}"/></a>
        <a href="{{ path('rochette') }}"><img src="{{ asset('build/cultuel4.png') }}"/></a>
        <a href="{{ path('rochette') }}"><img src="{{ asset('build/cultuel5.png') }}"/></a>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".owl-footer").owlCarousel({
            loop:true,
            autoplay: true,
            margin:40,
            items: 4,
            width: 150,
            nav: true,
        });
    });
</script>
