<div class="col-12">
    <p class="page-title">Autres réalisations EHPAD</p>
    <div class="owl-carousel d-none d-xl-block d-lg-block">
        {% for real in reals %}
            <a href="{{ path('ehpad_view', {slug: real.slug}) }}"><img src="{{ vich_uploader_asset(real, 'thumbnailFile') }}"/></a>
        {% endfor %}
    </div>
    <div class="d-xl-none d-lg-none carrousel-mobile">
        {% for real in reals %}
        <div class="col-12">
            <a href="{{ path('ehpad_view', {slug: real.slug}) }}"><img src="{{ vich_uploader_asset(real, 'thumbnailFile') }}"/></a>
            <p>{{ real.title }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            loop:true,
            autoplay: true,
            margin:40,
            items: 4,
            width: 150,
            nav: true,
        });
    });
</script>