<div class="row menu-container">
    <div class="col-3">
        <a href="{{ path('homepage') }}"><img src="{{ asset('build/logo.png') }}" alt="logo AC Architecture" class="logo"/></a>
    </div>
    <ul class="menu-links col align-self-flex-end text-right">
        <li class="dropdown">
            {% set agence = ["presentation", "equipe", "organisation"] %}
            <a href="" id="agence-link" aria-haspopup="true" aria-expanded="false"
               class="dropdown-toggle {% if app.request.get('_route') in agence %}active{% endif %}"
               data-toggle="dropdown">
                L'AGENCE
            </a>
            <ul class="dropdown-menu sub-menu" aria-labelledby="agence-link">
                <li><a href="{{ path('presentation') }}" class="sub-menu-link dropdown-item">Présentation</a></li>
                <li><a href="{{ path('equipe') }}" class="sub-menu-link dropdown-item">Equipe</a></li>
                <li><a href="{{ path('organisation') }}" class="sub-menu-link dropdown-item">Organisation</a></li>
            </ul>
        </li>
        <li><a href="{{ path('services') }}" class="{% if app.request.get('_route') == 'services' %}active{% endif %}">SERVICES</a></li>
        <li class="dropdown">
            {% set realisations = ["ehpad", "collectifs", "individuels", "cultuels", "equipements"] %}
            <a href="" id="realisation-link" aria-haspopup="true" aria-expanded="false"
               class="dropdown-toggle {% if app.request.get('_route') in realisations %}active{% endif %}" data-toggle="dropdown">
                RÉALISATIONS
            </a>
            <ul class="dropdown-menu sub-menu" aria-labelledby="realisation-link">
                <li><a href="{{ path('ehpad') }}" class="sub-menu-link dropdown-item">EHPAD</a></li>
                <li><a href="{{ path('collectifs') }}" class="sub-menu-link dropdown-item">Logements collectifs</a></li>
                <li> <a href="{{ path('individuels') }}" class="sub-menu-link dropdown-item">Logements individuels</a></li>
                <li><a href="{{ path('cultuels') }}" class="sub-menu-link dropdown-item">Lieux cultuels</a></li>
                <li><a href="{{ path('equipements') }}" class="sub-menu-link dropdown-item">Équipements</a></li>
            </ul>
        </li>
        <li><a href="{{ path('contact') }}" class="{% if app.request.get('_route') == 'contact' %}active{% endif %}">CONTACT</a></li>
        <li><a href="{{ path('inspirations') }}" class="{% if app.request.get('_route') == 'inspirations' %}active{% endif %}">INSPIRATIONS</a></li>
    </ul>
</div>